body{
    background-color: var(--background-color);

}

.newexam{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* =========Navegación========== */

.ne-nav{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 9px -1px rgba( 0, 0, 0, .2);
    height: 70px;
    /* overflow: hidden; */
}

.ne-navprof{
    flex: 2;
    display: flex;
    align-items: center;
    background-color: var(--element-color);
    height: 100%;
}

.ne-navprof button{
    color: rgba( 255, 255, 255, .5);
    font-size: 16px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin: 1vw;
}

.ne-navprof img{
    width: 40px;
    border-radius: 50%;
}

.ne-navprof p {
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}

.ne-navtitle{ 
    flex: 9;
    display: flex;
    align-items: center;
    margin: 0 3vw;
}

.ne-navtitle .ne-titleicon{
    color: var(--orange-color);
    font-size: 24px;
}

.ne-navtitle input{
    font-size: 26px;
    border: none;
    margin-left: 10px;
    width: 100%;
    transition: .2s border-bottom ease;
    border-bottom: 1px solid rgba( 0, 0, 0, 0);
}

.ne-navtitle input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba( 0, 0, 0, .2);
}

.ne-navactions{
    flex: 1;
    display: flex;
    justify-content: center;
}

.ne-navactions button, .ne-sm-input, .ne-sm-inputdisable{
    padding: 5px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s background-color ease, 
                .2s color ease,
                .2s box-shadow ease;
    margin-right: 7px;

}

.ne-navactions button:nth-child(1), .ne-sm-input{
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    background-color: rgba( 0, 0, 0, 0);
}

.ne-navactions button:nth-child(2){
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
    background-color: rgba( 0, 0, 0, 0);
}

.ne-navactions button:hover:nth-child(1), .ne-sm-input:hover{
    background-color: var(--blue-color);
    color: #fff;
    box-shadow: 1px 1px 9px -1px rgba( 0, 0, 0, .2);
}

.ne-navactions button:hover:nth-child(2){
    background-color: var(--orange-color);
    color: #fff;
    box-shadow: 1px 1px 9px -1px rgba( 0, 0, 0, .2);
}

/* =========Body========== */
.ne-body{
    margin: 0 auto;
}

.ne-section{

    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;

}

.ne-section-contitle{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 12px;
}

.ne-section-contitle svg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-right: 5px;
    color: rgba( 0, 0, 0, .3);
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: .2s color ease;
}

.ne-section-contitle svg:hover{
    color: rgba(255, 0, 0, 0.5);
}

.ne-section-title{
    width: 100%;
    margin: 0 10px;
    padding: 2px 5px;
    font-size: 18px;
    color: rgba( 0, 0, 0, .7);
    border: none;
    border-left: 2px solid rgba( 0, 0, 0, .2);
    transition: .5s border-left ease;
}

.ne-section-title:focus, .ne-section-title:hover{
    outline: none;
    border-left: 2px solid var(--blue-color);
}

.ne-section-desc{
    margin: 0 10px;
    /* border-radius: 5px; */
    resize: none;
    padding: 2px 5px;
    font-size: 14px;
    border: none;
    border-left: 2px solid rgba( 0, 0, 0, .1);
    transition: .5s border-left ease;

}

.ne-section-desc:focus, .ne-section-desc:hover{
    /* border: none; */
    outline: none;
    border-left: 2px solid var(--blue-color);
}

.ne-qst{
    width: 600px;
    margin-top: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 9px -1px rgba( 0, 0, 0, .2);
    border-radius: 5px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.ne-qst-title{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.ne-qst-title .ne-qst-number{
    color: rgba( 0, 0, 0, .5);
    font-weight: bolder;
    position: absolute;
    left: -20px;
    border-bottom: 1px solid var(--blue-color);

}

.ne-qst-title input{
    outline: none;
    font-size: 18px;
    border: none;
    width: 100%;
    color: rgba( 0, 0, 0, .7);
    font-weight: bolder;
    border-bottom: 1px solid var(--blue-color);
}

.ne-qst-delete{
    margin-left: 20px;
    margin-top: 10px;
}

.ne-qst-delete button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20px;
    height: 20px; */
    padding: 8px;
    cursor: pointer;
    background-color: rgba( 0, 0, 0, 0);
    box-shadow: 0 0 5px -1px rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    font-size: 18px;
    border: none;
    color: rgba(255, 0, 0, 0.5);
    transition: .2s background-color ease,
                .2s color ease;
}

.ne-qst-delete button:hover{
    background-color: rgba(255, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;

}

.ne-qst-resp{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ne-qst-respe{
    border: 1px solid rgba( 0, 0, 0, .2);
    border-radius: 7px;
    margin-top: 15px;

} 

.ne-qst-respe-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
}

.ne-qst-respe-elements input{
    border: none;
    font-size: 14px;
    width: 100%;
    height: 30px;
}

.ne-qst-respe-elements input:focus{
    outline: none;
}

.ne-qst-respe-img{
    display: flex;
    flex-wrap: wrap;
}

.ne-qst-respe-img div{
    box-shadow: 1px 1px 9px -1px rgba( 0, 0, 0, .2);
    border: 1px solid rgba( 0, 0, 0, .1);
    margin: 10px 30px;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ne-qst-respe-img div img{
    width: 80%;
    object-fit: contain;
    max-height: 200px;
}

.ne-qst-tools{
    display: flex;
    align-items: center;
}

.ne-qst-tools button, .blue-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-color: rgba( 0, 0, 0, 0);
    border: none;
    font-size: 20px;
    border-radius: 50%;
    color: var(--blue-color);
    cursor: pointer;
    transition: .2s background-color ease,
                .2s color ease;
}

.ne-qst-tools button:hover, .blue-button:hover{
    background-color: var(--blue-color);
    color: #fff;
}

.addimgdisabled{
    cursor: auto !important;
    color: rgba( 0, 0, 0, .5) !important; 
}

.addimgdisabled:hover{
    background-color: rgba( 0, 0, 0, 0) !important;
}

.ne-qst-micon{
    font-size: 20px;
    color: var(--blue-color);
    margin-right: 5px;
    cursor: pointer;
}

.ne-actbuttons{
    margin: 20px 0 5px 0;
}

.ne-actbuttons button{
    background-color: var(--blue-color);
    color: #fff;
    border: 1px solid rgba( 0, 0, 0, 0);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .2s background-color ease, 
                .2s border ease,
                .2s color ease;
}

.ne-actbuttons-sec button{
    background-color: var(--element-color);
    margin-bottom: 100px;
}



.ne-actbuttons button:nth-child(1){
    margin-right: 5px;
}

.ne-actbuttons button:hover{
    background-color: #fff;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    box-shadow: 1px 1px 9px -1px rgba( 0, 0, 0, .2);
}

.ne-actbuttons-sec button:hover{
    border: 1px solid var(--element-color);
    color: var(--element-color);
}

.ne-masresp{
    width: 72px;
    text-align: start;
    border: 1px solid rgba( 0, 0, 0, 0);
    background-color: #fff;
    margin-top: 10px;
    color: var(--blue-color);
    cursor: pointer;
    transition: .2s border-bottom ease;
}

.ne-masresp:hover{
    border-bottom: 1px solid var(--blue-color);
}

/* ----------MODAL--------- */
.no-scroll{
    max-height: 100vh;
    overflow: hidden;
}

.ne-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba( 0, 0, 0, .3);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.ne-sm-container{
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 80vh;
    background-color: #fff;
    border-radius: 5px;
}

.ne-sm-title{
    box-shadow: 1px 1px 9px -1px rgba( 0, 0, 0, .5);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    background-color: var(--element-color);
}

.ne-sm-title h2{
    color: #fff;
    font-weight: lighter;
    margin-bottom: 5px;
}

.ne-sm-title button{
    align-items: center;
    align-self: flex-start;
    background-color: rgba( 0, 0, 0, 0);
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 5px;
}

.ne-sm-form{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.ne-sm-form p, .ne-sm-checkbox label{
    font-size: 16px;
    color: rgba( 0, 0, 0, .6);
    margin-bottom: 5px;
}

.ne-sm-form input[type='text'], .ne-sm-form textarea{
    border: 1px solid rgba( 0, 0, 0, .2);
    padding: 10px 10px;
    border-radius: 7px;
    font-size: 14px;
    resize: none;
    margin-bottom: 5px;
}

.ne-sm-form input[type='text']:focus,  .ne-sm-form textarea:focus{
    outline: none;
    border: 1px solid var(--blue-color);
}

.ne-sm-alumnlist{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.ne-sm-alelement{
    background-color: var(--blue-color);
    color: #fff;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 14px;
    box-shadow: 1px 1px 9px -1px rgba( 0, 0, 0, .2);
    cursor: pointer;
}

.ne-sm-checkbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.ne-sm-checkbox label{
    margin-bottom: 0;
    cursor: pointer;
}

.ne-sm-checkbox input[type='checkbox']{
    border: 1px solid rgba( 0, 0, 0, .2);
    background-color: aquamarine;
    margin-right: 10px;
}

.ne-sm-input, .ne-sm-inputdisable{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
}

.ne-sm-inputdisable{
    cursor:auto;
}

/* ---------RESPONSIVE-------- */
@media (max-width: 800px) {

    .ne-navprof{
        flex: 1;
    }

    .ne-navprof img, .ne-navprof p{
        display: none;
    }

    .ne-navactions{
        position: fixed;
        z-index: 999;
        background-color: #fff;
        width: 100%;
        height: 50px;
        bottom: 0;
        box-shadow: -1px -1px 9px -1px rgba( 0, 0, 0, .2);
    }

    .ne-navactions button{
        height: 30px;
        margin-top: 10px;
        width: 40vw;
    }

    .ne-body{
        margin-left: 10px;
        margin-right: 10px;
    }

    .ne-qst{
        width: auto;
    }

    .ne-qst-title{
        margin-left: 10px;
    }
}