:root {
    --background-color: #F2F2F2;
    --element-color: #222A34;
    --blue-color: #3A89C9;
    --red-color: #FF4F4F;
    --orange-color: #FFC000;
    --green-color: #92D050;

}

* {
    font-family: "Product Sans", "Montserrat", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    font-size: 58px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #898B8A;
}

.logo .logo-x {
    font-size: inherit;
    font-family: inherit;
    font-weight: 200;
    color: #3a89c9;
}

/* ///////////// LOGIN /////////////// */
#login {
    display: flex;
    align-items: center;
}

#login-d1 {
    background-color: var(--background-color);
    flex: 4;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#login-d1 img {
    width: 420px;
    /* object-fit: contain; */
}

#login-d1 p {
    margin-bottom: 10px;
}

#login-d2 {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.8);
    background-color: var(--element-color);
    flex: 3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-formcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#login-d2-title {
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

#login-d2 form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

#login-d2 form input {
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 80%;
    height: 32px;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #ffffff56;
    color: #fff;
}

#login-d2 form input:focus{
    outline: none;
    border: 1px solid var(--blue-color);
}

#login-d2 form input::placeholder {
    color: rgba(255, 255, 255, 0.342);
}

#login-d2-forg {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    text-align: center;
}

.auth-btn {
    align-items: center;
    background: #fff;
    border-radius: 5px;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 900;
    height: 38px;
    justify-content: center;
    margin-top: 15px;
    transition: 0.2s background ease;
    width: 240px;
}

.googleicon {
    font-size: 18px;
    margin-right: 5px;
}

.auth-btn:hover {
    background-color: rgba(255, 255, 255, 0.253);
    color: #fff;
}

.container-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--element-color);
}

.auth-error-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    opacity: 70%;
    background-color: var(--red-color);
    color: #fff;
    width: 70%;
    border-radius: 5px;
    font-size: 12px;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px;
}

.auth-error-msg p{
    display: flex;
    align-items: center;
}

.auth-error-icon{
    font-size: 16px;
    margin-right: 5px;
}

/* ///////////////Error Modal///////////// */
.errmsj{
    width: 500px;
    padding: 5px 0;
    border-radius: 5px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 94, 94);
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    transition: .5s bottom ease;
}

.errmsjinvisible{
    bottom: -30px;
}

.errmsj-icon{
    color: #fff;
    margin-right: 5px;
}

.errmsj-text{
    color: #fff;
    font-weight: bold;

}

/* sweetalert2 */
.swal2-title{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}

/* ///////////////77Login resposive///////////// */

@media (max-width: 800px) {
    /* #login {
        flex-direction: column;
    } */

    #login-d1 {
        display: none;
    }

    #login-d2 {
        width: 100%;
        height: 100vh

    }
}